@using eShop.Web.Component
@inherits LayoutComponentBase

<PageTitle>eShop.Web</PageTitle>

<main>
    <TopNavBar></TopNavBar>
    <BannerComponent></BannerComponent>
 
    <article class="content px-4">
        @Body
    </article>
</main>
